@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Page2";
}


<section class="content-header">
    <h1>
        @ViewData["Title"]
        <p>
            <small style=" font-size: 12px; padding: 30px">Created by Ivy, Modified on Oct 31st, 2018.</small>
        </p>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
    </ol>
</section>
<!-- Main content -->
<section class="content container-fluid">
    The Admin can see information concerning all Dormitories while the Dormitory Manager can only see
    information peculiar to their dormitory.
    For Better Understanding, Follow carefully the explanations provided.

     style="font-weight : bold; font-size: 18px" 
</section>
<!-- /.content -->
