@{
    ViewData["Title"] = "USER GUIDE";
}
   

    <section class="content-header">
        <h1 style =" font-family: Calibri; margin: 30px; font-weight: bold;">
            @ViewData["Title"]
            <p>
                <small style=" font-size: 12px; padding: 50px">Created by Ivy, Modified on Oct 31st, 2018.</small>
            </p>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
        </ol>
    </section>
    <!-- Main content -->
       
    <section class="content container-fluid">
       Welocome to EMU Dormitory Site Documentation where all detailed Information about how to navigate through the site easily is provided for both customer end and back end.
            The back end is accessible by only Admin, Dormitory Managers and ..... to access and provide information from/to the customer area.
        whilst the front end is the customer area where all information needed about dormitory is provided. 
         In the back end the Admin can access and edit/provide information regarding all dormitories while 
        Dormitory managers can only access and edit/provide information on dormiories peculiar to them.

</section>
    <!-- /.content -->
