
@{
    ViewData["Title"] = "Promotions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        @ViewData["Title"]
        <p>
            <small style=" font-size: 12px; padding: 30px">Created by Ivy, Modified on Oct 31st, 2018.</small>
        </p>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
    </ol>
</section>
<!-- Main content -->
<section class="content container-fluid">
    The Admin can see information concerning all Dormitories while the Dormitory Manager can only see
    information peculiar to their dormitory.
    The Promotion page shows discounts present for rooms, affiliates, Newsletter Subscribers and Campaigns.
    For Better Understanding, Follow carefully the explanations provided below.

    <p>

    </p>

    <li style="font-weight : bold; font-size: 18px"> Discounts </li>
      This is a table that shows lists of all discounts provided
    on the site with filters (Discount name, Coupon code, Discount type) to aid search.
    <p>  </p>
     The <b>add new </b> button is to add new discounts which would be made visible on the particular dorm site
    on the front end.


</section>
<!-- /.content -->
