
@{
    ViewData["Title"] = "Promotions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        @ViewData["Title"]
        <p>
            <small style=" font-size: 12px; padding: 30px">Created by Ivy, Modified on Oct 31st, 2018.</small>
        </p>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
    </ol>
</section>
<!-- Main content -->
<section class="content container-fluid">
    The Admin can see information concerning all Dormitories while the Dormitory Manager can only see
    information peculiar to their dormitory.
    <p> The Promotion page shows discounts present for rooms, affiliates, Newsletter Subscribers and Campaigns.</p>
    For Better Understanding, Follow carefully the explanations provided below.

    <p>

    </p>

    <li style="font-weight : bold; font-size: 18px"> Discounts </li>
    This is a table that shows lists of all discounts provided
    on the site with filters (Discount name, Coupon code, Discount type) to aid search.
    <p>  </p>
    The <b style="color:red">Add new </b> button is to add new discounts which would be made visible on the particular dorm site
    on the front end.
    On click on the <b style="color:red">Add new </b> button a form opens to fill and give detailed information about discount being given
    and another requirements tab to put in requirements needed to be eligible for discounts. Hints are provided in filling the form on the site.
    <p> </p>

    <li style="font-weight : bold; font-size: 18px"> Afiliates </li>
    This is also a table showing list of affiliates working with dormitories with the <b style="color:red">Add new</b>
    button to add new affiliates working with which ever dormitory, again hints are provided for ease in filling in informaions.

    <p>

    </p>
    <li style="font-weight : bold; font-size: 18px"> NewsLetter Subscribers </li>
    This is a table showing list of registered users that subscribed for newsletters.
    <p>

    </p>

    <li style="font-weight : bold; font-size: 18px">Campaign</li>

</section>
<!-- /.content -->
